<section class="pad">
  <div class="mrgtop70">
    <div class="mt-3"></div>
    <div class="position-relative clearfix">
      <div class="float-left">
        <h5 class="subtitle pt-1"><a [routerLink]="['/home']" href="javascript: void(0);" class="backLink"><i class="fas fa-chevron-circle-left"></i> &nbsp; </a>Select Package</h5>
      </div>
      <div class="float-right mb-2">
        <button class="btn btnReset" [routerLink]="['/home/history']"><i class="fa-solid fa-table-list"></i>&nbsp; <b>View History</b></button>
      </div>
    </div>
    <div class="bgLiteOne mb-3">
      <div class="row text-center">
        <div class="col-md">
          <h6>Customer Name</h6>
          <h4>{{userdata.selectedCustomer}}</h4>
        </div>
        <div class="col-md">
          <h6>Service Provider</h6>
          <h4>{{userdata.selectedCloud}}</h4>
        </div>
        <div class="col-md">
          <h6>Option</h6>
          <h4>{{userdata.option}}</h4>
        </div>
      </div>
    </div>
  <div class="">
    <div class="row justify-content-md-center" id="packages">
      <div class="col-md-12">
        
        <div class="row mb-3 ml-0 mr-0">
          <div class="col-md-2 p-0 bgPart1">
            <div class="p-2">
              <small class="d-block">Package Name</small>
              <strong class="d-block">Virtual Machine</strong>
            </div>
          </div>
          <div class="col-md-8 p-0 bgPart2">
            <div class=" p-2 choosePackage">
              <ul class="list-inline m-0 text-left">
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Subscription
                </li>
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Resource Group
                </li>
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Virtual Network
                </li>
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Subnet
                </li>
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Network Interface
                </li>
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Assign Public IP
                </li> 
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Virtual Machine
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 bgPart3">
            <div class="">
              <div class="selectPackage">
                <label>
                  <input type="checkbox" id="Virtual Machine" value="Virtual Machine" [(ngModel)]="vmpackage"><span>Choose Package</span>
               </label>
             </div>
            </div>
          </div>
        </div>
        <div class="row mb-3 ml-0 mr-0">
          <div class="col-md-2 p-0 bgPart1">
            <div class="p-2">
              <small class="d-block">Package Name</small>
              <strong class="d-block">Subnet</strong>
            </div>
          </div>
          <div class="col-md-8 p-0 bgPart2">
            <div class=" p-2 choosePackage">
              <ul class="list-inline m-0 text-left">
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Provider Details
                </li>
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Resource Group
                </li>
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Subnet Creation
                </li>
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Network Interface
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 bgPart3">
            <div class="">
              <div class="selectPackage">
                <label>
                  <input type="checkbox" id="Subnet" value="Subnet" [(ngModel)]="subnetpackage"><span>Choose Package</span>
               </label>
             </div>
            </div>
          </div>
        </div>
        <div class="row mb-3 ml-0 mr-0">
          <div class="col-md-2 p-0 bgPart1">
            <div class="p-2">
              <small class="d-block">Package Name</small>
              <strong class="d-block">Virtual Network</strong>
            </div>
          </div>
          <div class="col-md-8 p-0 bgPart2">
            <div class=" p-2 choosePackage">
              <ul class="list-inline m-0 text-left">
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Provider Details
                </li>
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Resource Group
                </li>
                <li class="list-inline-item">
                  <i class="fa-solid fa-circle-check"></i>&nbsp;Virtual Network
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 bgPart3">
            <div class="">
              <div class="selectPackage">
                <label>
                  <input type="checkbox" id="Virtual Network" value="Virtual Network" [(ngModel)]="vnpackage"><span>Choose Package</span>
               </label>
             </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="text-center mt-2">
    <button type="reset" class="btn btnReset mr-2" (click)="resetSelectedChoice()">Reset</button>
    <button class="btn btnCustom ml-2" type="submit" (click)="saveData()">Save & Continue</button>
  </div>
  </div>
</section>