<div class="mt-3">
  <div class="position-relative clearfix">
    <div class="float-left">
      <h5 class="subtitle pt-1">
        <a (click)="goBackHome()" href="javascript: void(0);" class="backLink"><i class="fas fa-chevron-circle-left"></i> &nbsp; </a>
        Setup Configuration
      </h5>
    </div>
    <div class="float-right mb-3">
      <button class="btn btnReset" [routerLink]="['/home/history']"><i
          class="fa-solid fa-table-list"></i>&nbsp;
        <b>View History</b></button>
    </div>
  </div>
  <div class="maincontainer">
    <div class="bgLiteOne mb-3">
      <div class="row text-center">
        <div class="col-md">
          <h6>Customer Name</h6>
          <h4>{{userdata.selectedCustomer}}</h4>
        </div>
        <div class="col-md">
          <h6>Service Provider</h6>
          <h4>{{userdata.selectedCloud}}</h4>
        </div>
        <div class="col-md">
          <h6>Option</h6>
          <h4>{{userdata.option}}</h4>
        </div>
        <div class="col-md"  *ngIf="userdata.option=='packages'">
          <h6>Selected Package</h6>
          <h4 >{{package.toString()}}</h4>
        </div>
        <div class="col-md"  *ngIf="userdata.option=='services'">
          <h6>Selected Service</h6>
          <h4 >{{service.toString()}}</h4>
        </div>
      </div>
    </div>
    <div class="wizardFlow mt-3">
      <tabset #staticTabs class="d-flex">
        <div class="successAlert" *ngIf="showSuccessAlert">
          <i class="fas fa-check-circle"></i>
          <div class="">
            <p>{{ alertMsg }}</p>
          </div>
        </div>
        <tab *ngIf="loadTabs.includes('Provider Details')">
          <ng-template tabHeading>
              <div (click)="updateCurrentTabId('Provider Details')">
              Provider Details
            </div>
          </ng-template>
          <app-provider *ngIf="currentTabId==this.loadTabs.indexOf('Provider Details')"  (tabActive)="tabActive($event)" (isSuccess)="isSuccess($event)"></app-provider>
        </tab>
        <tab *ngIf="loadTabs.includes('Resource Group')">
          <ng-template tabHeading>
            <div (click)="updateCurrentTabId('Resource Group')">
              Resource Group
            </div>
          </ng-template>
          <app-resource-group *ngIf="currentTabId==this.loadTabs.indexOf('Resource Group')"  (tabActive)="tabActive($event)" (isSuccess)="isSuccess($event)"></app-resource-group>
        </tab>
        <tab *ngIf="loadTabs.includes('Virtual Network')">
          <ng-template tabHeading>
            <div (click)="updateCurrentTabId('Virtual Network')">
              Virtual Network
            </div>
          </ng-template>
          <app-virtual-network *ngIf="currentTabId==this.loadTabs.indexOf('Virtual Network')"  (tabActive)="tabActive($event)" (isSuccess)="isSuccess($event)"></app-virtual-network>
        </tab>
        <tab *ngIf="loadTabs.includes('Subnet')">
          <ng-template tabHeading>
            <div (click)="updateCurrentTabId('Subnet')">
              Subnet
            </div>
          </ng-template>
          <app-subnet *ngIf="currentTabId==this.loadTabs.indexOf('Subnet')"   [transactionId]="transactionId" (tabActive)="tabActive($event)" (transactionIdActive)="transactionIdActive($event)" (isSuccess)="isSuccess($event)"></app-subnet>
        </tab>
        <tab *ngIf="loadTabs.includes('Network Interface')">
          <ng-template tabHeading>
            <div (click)="updateCurrentTabId('Network Interface')">
              Network Interface
            </div>
          </ng-template>
          <app-network-interface *ngIf="currentTabId==this.loadTabs.indexOf('Network Interface')"  (tabActive)="tabActive($event)" (isSuccess)="isSuccess($event)"></app-network-interface>
        </tab>
        <tab *ngIf="loadTabs.includes('Public IP')">
          <ng-template tabHeading>
            <div (click)="updateCurrentTabId('Public IP')">
              Public IP
            </div>
          </ng-template>
          <app-public-ip *ngIf="currentTabId==this.loadTabs.indexOf('Public IP')"  (tabActive)="tabActive($event)" (isSuccess)="isSuccess($event)"></app-public-ip>
        </tab>
        <tab *ngIf="loadTabs.includes('Bastion Host')">
          <ng-template tabHeading>
            <div (click)="updateCurrentTabId('Bastion Host')">
              Bastion Host
            </div>
          </ng-template>
          <app-bastion-host *ngIf="currentTabId==this.loadTabs.indexOf('Bastion Host')"  (tabActive)="tabActive($event)" (isSuccess)="isSuccess($event)"></app-bastion-host>
        </tab>
        <tab *ngIf="loadTabs.includes('Network Security Group')">
          <ng-template tabHeading>
            <div (click)="updateCurrentTabId('Network Security Group')">
              Network Security Group
            </div>
          </ng-template>
          <app-network-security-group *ngIf="currentTabId==this.loadTabs.indexOf('Network Security Group')"  (tabActive)="tabActive($event)" (isSuccess)="isSuccess($event)"></app-network-security-group>
        </tab>
        <tab *ngIf="loadTabs.includes('Virtual Network Peering')">
          <ng-template tabHeading>
            <div (click)="updateCurrentTabId('Virtual Network Peering')">
              Virtual Network Peering
            </div>
          </ng-template>
          <app-network-peering *ngIf="currentTabId==this.loadTabs.indexOf('Virtual Network Peering')"  (tabActive)="tabActive($event)" (isSuccess)="isSuccess($event)"></app-network-peering>
        </tab>
        <tab *ngIf="loadTabs.includes('Virtual Machine')">
          <ng-template tabHeading>
            <div (click)="updateCurrentTabId('Virtual Machine')">
              Virtual Machine
            </div>
          </ng-template>
          <app-virtual-machine *ngIf="currentTabId==this.loadTabs.indexOf('Virtual Machine')"  [transactionId]="transactionId"  (tabActive)="tabActive($event)" (transactionIdActive)="transactionIdActive($event)" (isSuccess)="isSuccess($event)"></app-virtual-machine>
        </tab>
        <tab *ngIf="loadTabs.includes('Create & Execute')" >
          <ng-template tabHeading>
            <div (click)="updateCurrentTabId('Create & Execute')">
              Create & Execute
            </div>
          </ng-template>
          <div class="step4">
            <h6 class="subtitle2"> Create and execute the plan </h6>

            <div class="fnt13px">
              <ul class="list-inline">

                <li>
                  - Click on previous to view the configuration steps
                </li>
                <li>
                  - Click on create button to create script to execute
                </li>
                <li>
                  - Click on view configuration to view JSON data
                </li>
                <li>
                  - Click on execute button to execute the plan
                </li>

              </ul>

            </div>
            <div class="col-md-8 text-center mt-4 clearfix">
              <div class="float-left">
                <button class="btn btnReset mr-1" (click)="tabActive(0)">Previous</button>
                <button class="btn btnCustom ml-1" *ngIf="!enableCreate" (click)="submitData()">Submit</button>
                <button class="btn btnCustom ml-1" *ngIf="enableCreate" (click)="createScript()">Create</button>
              </div>
              <div class="float-right" *ngIf="enableCreate">
                
                <button class="btn btnReset ml-1" (click)="getSessionFormData();openModalWithClass(template)">View Configuration</button>
                <button class="btn btnCustom ml-1" [disabled]="!enableExecute" (click)="executePlan()">Execute</button>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
    
  </div>


  <!-- <div class="loaderBG" *ngIf="loader">
    <div class="loader"></div>
  </div> -->
  <div class="loaderBG" *ngIf="loader">
    <div class="prgBar">
      <div class="clearfix prgBarText">
        <div class="float-left">
          Loading...
        </div>
        <div class="float-right">
          {{progress}}%
        </div>
      </div>
      <div class="progress ">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="{100}" [ngStyle]="{ 'width': progress + '%' }"></div>
      </div>
    </div>
  </div>
  
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Json Data</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="fnt13px">
      <pre>{{sessionFormData | json}}</pre>
    </div>
  </div>
</ng-template>
<ng-template #createdJSON>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Success</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="fnt16px text-center">
      Data saved successfully
    </div>
  </div>
  <div class="col-md-12 text-center mt-4 mb-3">
    <button class="btn btnReset mr-2" (click)="modalRef?.hide()">Cancel</button>
    <button class="btn btnCustom mr-2" (click)="modalRef?.hide()">OK</button>
  </div>
</ng-template>

<ng-template #createscript>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Success</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="fnt16px text-center">
      {{package}} package plan script generated successfully
    </div>
  </div>
  <div class="col-md-12 text-center mt-4 mb-3">
    <button class="btn btnReset mr-2" (click)="modalRef?.hide()">Cancel</button>
    <button class="btn btnCustom mr-2" (click)="modalRef?.hide()">OK</button>
  </div>
</ng-template>

<ng-template #execute>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Success</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="fnt16px text-center">
      {{package}} package plan script executed successfully
    </div>
  </div>
  <div class="col-md-12 text-center mt-4 mb-3">
    <button class="btn btnReset mr-2" (click)="modalRef?.hide()">Cancel</button>
    <button  class="btn btnCustom mr-2" [routerLink]="['/home']"
      (click)="modalRef?.hide()">OK</button>
  </div>
</ng-template>
<ng-template #errorMsg>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Failure</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="fnt16px text-center">
      {{package}} package plan transaction failed.
    </div>
  </div>
  <div class="col-md-12 text-center mt-4 mb-3">
    <button class="btn btnReset mr-2" (click)="modalRef?.hide()">Cancel</button>
    <button class="btn btnCustom mr-2" (click)="modalRef?.hide()">OK</button>
  </div>
</ng-template>

<ng-template #backHome>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirmation</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="fnt16px text-center">
      If you leave before saving, your changes will be lost.
    </div>
  </div>
  <div class="col-md-12 text-center mt-4 mb-3">
    <button class="btn btnReset mr-2" (click)="modalRef?.hide()">Cancel</button>
    <button class="btn btnCustom mr-2" [routerLink]="['/home']" (click)="modalRef?.hide();clearSessionData();">OK</button>
  </div>
</ng-template> 