<div class="maincontainer brd1px">
    <div>
        <div class="clearfix">
            <div class="float-left pt-2">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <small>Customer Name&nbsp;:</small>&nbsp;<strong>{{customerDetails?.customerName}}</strong>
                </li>
                <li class="list-inline-item">
                  <small>Provider Name&nbsp;:</small>&nbsp;
                  <select class="form-control">
                    <option *ngFor="let provider of customerDetails.providers">
                      {{provider}}
                    </option>
                  </select>
                </li>
              </ul>
            </div>
            <div class="float-right">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <div class="position-relative rightBoxSearch mb-2">
                            <input
                            type="text" class="form-control searchTable"
                            [(ngModel)]="searchText" autocomplete="off"
                            placeholder="Search by Customer Name, Provider"
                            />
                            <i class="fa-solid fa-magnifying-glass fa-fw"></i>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btnReset" (click)="openModalWithClass(ServicePrinciple)">
                            <i class="fas fa-user-plus"></i>&nbsp; <b >Add Principle</b>
                        </button>
                    </li>
                </ul>
                
            </div>
        </div>
        <div class="text-center" *ngIf="principleList?.length == 0 || principleList == null">
          <h4>No data to display</h4>
        </div>
        <table class="table table-striped table-hover cstTable" *ngIf="principleList?.length > 0">
            <thead>
            <tr>
                <th>Principle ID</th>
                <th>Principle Name</th>
                <th>Subscription Name</th>
                <th>Subscription ID</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subscriptions of principleList">
                <td>{{subscriptions.principleId}}</td>
                <td>{{subscriptions.principleName}}</td>
                <td>{{subscriptions.subscriptionName}}</td>
                <td>{{subscriptions.subscriptionId}}</td>
                <td><span *ngIf="subscriptions.status" class="text-success">Active</span>
                  <span *ngIf="!subscriptions.status" class="text-danger">Inactive</span></td>
                <td>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                          <i class="fas fa-pencil-alt text-primary"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-ban text-danger"></i>
                        </li>
                  </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #ServicePrinciple>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add/Edit Sercice Principle</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #principleForm="ngForm">
        <div class="row m-0">
            <!-- <div class="col-md-6">
              <div class="form-group">
                <label>Provider Name <span class="text-danger">*</span></label>
                <select class="form-control" name="providerName" #providerName="ngModel" [(ngModel)]="principleDetails.providerName" required>
                    <option [value]="default" selected disabled>Select</option>
                    <option *ngFor="let provider of customerDetails.providers">{{provider}}</option>
                  </select>
              </div>
            </div> -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Principle Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="principleName" #principleName="ngModel" [(ngModel)]="principleDetails.principleName" required/>
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Subscription Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="subscriptionName" #subscriptionName="ngModel" [(ngModel)]="principleDetails.subscriptionName" required/>
            </div>
        </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Subscription ID <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="subscriptionId" #subscriptionId="ngModel" [(ngModel)]="principleDetails.subscriptionId" required/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Client ID <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="clientId" #clientId="ngModel" [(ngModel)]="principleDetails.clientId" required/>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label>Client Secret <span class="text-danger">*</span></label>
                  <input type="password" class="form-control" name="clientSecret" #clientSecret="ngModel" [(ngModel)]="principleDetails.clientSecret" required/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label>Tenant ID <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="tenantId" #tenantId="ngModel" [(ngModel)]="principleDetails.tenantId" required/>
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Status <span class="text-danger">*</span></label>
                <select class="form-control" name="status" #status="ngModel" [(ngModel)]="principleDetails.status" required>
                  <option disabled>Select</option>
                  <option [ngValue]="true" selected>Active</option>
                  <option [ngValue]="false">Inactive</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 text-center mt-3">
                <button class="btn btnReset mr-2" (click)="modalRef?.hide()" >Cancel</button>
                <button class="btn btnCustom ml-2 mr-3" type="submit" (click)="onSubmit(principleForm)">Submit</button>
            </div>
          </div>
        </form>
    </div>
</ng-template>

<div class="loaderBG" *ngIf="loader">
  <div class="loader"></div>
</div>