<div class="bgcover">
    <div class="bgColor">
        <div class="page">
            <app-header></app-header>
            <div class="main">
                <div class="hgt165">
                    <div class="pl-3 pr-3 pt-4 pb-3">
                        <div class="customerContent">
                            <app-customer-details *ngIf="router.url=='/customerportal'"></app-customer-details>
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>